{
	"server"	: "127.0.0.1",
	"port" : 8389,
	"daemonize" : false,
	"loglevel" : "debug",

	"i2c" : {
		"device" : "/dev/i2c-2",
		"baudrate" : 125,
	},
	
	"cron" : {
		"filter" : "cron*,tua*",
		"delay"	: 500,
		"tick" : 1,
		"jobs"  : [
			{
				"timestamp" : 1,
				"period" : 0,
				"count" : 1,
				"message" : "speech.speak",
				"data" : {
					"text": "Testservice runs.",
				},
			},
		],
	},

	"lua" : {
		"clientname" : "luascripter",
		"filter" : "lua*,bua*",
		"scripts" : [
			{
				"message" : "lua.helloworld", 
				"scriptfile": "lua/helloworld.lua"
			},
			{
				"message" : "lua.textorder", 
				"scriptfile": "lua/textorder.lua"
			},
		],
	},

	"speech" : {
		"voice":"default",
		"pitch":90,
	},

	"sphinx" : {
		"keywordlist" : "sphinx/keywords.list",
		"hmmfile" : "sphinx/model/en_us",
		"dictfile" : "sphinx/model/cmu07a.dic",
		"sendmessage" : "lua.textorder",
		"delay_after"	: 5000,
	}
}
