{
	"server"	: "127.0.0.1",
	"port" : 8389,
	"daemonize" : false,
	"loglevel" : "debug",

	"i2c" : {
		"device" : "/dev/i2c-2",
		"baudrate" : 125,
	},
	
	"cron" : {
		"filter" : "cron*,tua*",
		"delay"	: 500,
		"tick" : 1,
		"jobs"  : [
			{
				"timestamp" : 5,
				"period" : 10,
				"count" : 10,
				"message" : "lua.helloworld",
				"data" : {
					"text": "hallo welt",
				},
			},
			{
				"timestamp" : 10,
				"period" : 10,
				"count" : 1,
				"message" : "cron.add",
				"data" : {
					"timestamp": 16,
			  	        "period" : 10,
				        "count" : 2,
				        "message" : "test",
				        "data" : {
                                            "bla" : "suelz",
                                        }
				},
			},
		],
	},

	"lufa" : {
		"clientname" : "luascripter",
		"filter" : "lua*,bua*",
		"scripts" : [
			{
				"message" : "lua.helloworld", 
				"scriptfile": "lua/helloworld.lua"
			},
		],
	},

	"speech" : {
		"voice":"default",
		"pitch":90,
	},
}
