{
	"server"	: "127.0.0.1",
	"port" : 8389,
	"daemonize" : false,
	"loglevel" : "debug",
	
	"cron" : {
		"filter" : "cron*",
		"delay"	: 500,
		"tick" : 1,
		"jobs"  : [
			{
				"timestamp" : 10,
				"period" : 10,
				"count" : 1,
				"message" : "lua.helloworld",
				"data" : {
					"text": "Testservice runs.",
				},
			},
		],
	},

	"lua" : {
		"clientname" : "luascripter",
		"filter" : "lua*,input*",
		"dbfile" : "test.db",
		"librarypath" : "lib/",
		"scripts" : [
			{
				"message" : "lua.helloworld", 
				"scriptfile": "lua/helloworld.lua"
			},
			{
				"message" : "lua.textorder", 
				"scriptfile": "lua/textorder.lua"
			},
			{
				"message" : "input.*", 
				"scriptfile": "lua/simple_reactions.lua"
			},
		],
	},

	"speech" : {
		"pitch":99,
                "speed":160,
                "gap":13,
	},

	"sphinx" : {
		"keywordlist" : "sphinx/keywords.list",
		"hmmfile" : "sphinx/model/en_us",
		"dictfile" : "sphinx/model/cmu07a.dic",
		"sendmessage" : "lua.textorder",
		"delay_after"	: 5000,
	}
}
