{
	"server" : "127.0.0.1",
	"port" : 8389,
	"daemonize" : false,
	"loglevel" : "info",

	"gpio" : {
              "filter" : "gpio*",
	      "inputs" : [
                  { "input" : 17},
                  { "input" : 18},
                  { "input" : 27},
                  { "input" : 4},
	      ],
	      "outputs" : [
                  { "output" : 22},
                  { "output" : 23},
                  { "output" : 24},
                  { "output" : 25},
              ],
        },
	
	"cron" : {
		"filter" : "cron*",
		"delay"	: 50,
		"tick" : 1,
		"jobs"  : [
			{
				"comment" : "run idle function after 3 seconds",
				"timestamp" : 30,
				"period" : 1,
				"count" : 1,
				"message" : "idle",
				"data" : {},
			},		
			{
				"comment" : "poll gpio inputs two times per second",
				"timestamp" : 0,
				"period" : 5,
				"count" : -1,
				"message" : "gpio.read",
				"data" : { 
                                	"mask" : 15,
                                },
			},		
		],
	},

	"interpreter" : {
		"clientname" : "interpreter",
		"filter" : "sensor*,interpreter*",
		"librarypath" : "lib/",
		"dbfile" : "db/interpreter.db",
		"scripts" : [
			{
                                "comment" : "react on gpio inputs",
				"message" : "sensor.gpio", 
				"scriptfile": "interpreter/sensor_gpio.lua",
			},
		],
	},

	"logic" : {
		"clientname" : "logic",
		"filter" : "world*,logic*",
		"librarypath" : "lib/",
		"dbfile" : "db/logic.db",
		"scripts" : [
			{
				"comment" : "something hit the bot",
				"message" : "world.bump", 
				"scriptfile": "logic/world_bump.lua",
			},
		],
	},

	"planner" : {
		"clientname" : "planner",
		"filter" : "order*,input*,planner*,move*",
		"librarypath" : "lib/",
		"dbfile" : "db/planner.db",
		"scripts" : [
			{
				"comment" : "move the robot",
				"message" : "move.forward", 
				"scriptfile": "planner/idle.lua"
			},
			{
				"comment" : "surround an obstacle",
				"message" : "move.surround*", 
				"scriptfile": "planner/surround.lua"
			},
		],
	},
}
